@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@mixin primary-font {
    font-family: $primary-font;
}

// Định nghĩa biến màu
$primary-color: #05f; // Màu xanh dương
$primary-color-shade: #09f;
$secondary-color: #2ecc71; // Màu xanh lá
$danger-color: #e74c3c; // Màu đỏ
$background-color: #ecf0f1; // Màu nền
$primary-font: 'Fredoka One', sans-serif;

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    text-rendering: optimizeLegibility;
    /* Cải thiện độ rõ */
}

.bg-blue-gradiant {
    background: linear-gradient(to right, #0575e6, #021b79) !important;
}

.bg-red-gradiant {
    background: linear-gradient(to right, #e44d26, #f16529) !important;
}

.bg-gold-gradiant {
    background: linear-gradient(to right, #f2994a, #f2c94c) !important;
}

.bg-mini-gradiant {
    background: linear-gradient(to right, #ee0979, #ff6a00) !important;
}

.bg-primary-gradiant {
    background: linear-gradient(135deg, $primary-color, $primary-color-shade) !important;
}

.bg-warning-custom {
    background-color: #fe9431 !important;
}

.text-grey-500 {
    color: #adb5bd !important;
}

.btn-round-md {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px !important;
    text-align: center;
}

.fw-600 {
    font-weight: 600 !important;
}

.rounded-3 {
    border-radius: .3rem !important;
}

.btn-round-sm {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    line-height: 35px !important;
    text-align: center;
}

.text-grey-900 {
    color: #212529 !important;
}

.bg-greylight {
    background-color: #f5f5f5 !important;
}