@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// Định nghĩa biến màu
$primary-color: #05f; // Màu xanh dương
$secondary-color: #2ecc71; // Màu xanh lá
$danger-color: #e74c3c; // Màu đỏ
$background-color: #ecf0f1; // Màu nền

.fredoka-font {
    font-family: 'Fredoka One', sans-serif;
}