@import '../../../App.scss';

.navbar {
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 15px;
    background: #fff;
    border-bottom: 2px #eee solid;
    transition: left 0.25s;

    >* {
        margin-top: auto;
        /* Đẩy các phần tử vào giữa */
        margin-bottom: auto;
    }

    &-brand {
        display: flex;
        align-items: center;

        img {
            height: 32px;
            margin-right: 0.75rem;
        }

        .brand {
            font-size: 32px;
            font-weight: 600;
            color: $primary-color;
            line-height: 1.2;
            /* Điều chỉnh line-height để cân đối */
            @include primary-font;
        }
    }

    .search-bar {
        background-color: #f1f1f1;
        border-radius: 50px;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        width: 350px;
        margin-left: 1.5rem;

        input {
            border: none;
            background: none;
            outline: none;
            width: 100%;
        }
    }

    .icon-circle {
        background-color: #f1f1f1;
        border-radius: 50%;
        padding: 0.75rem;
        margin: 0 0.5rem;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            color: grey;
            font-size: 1.25rem;
        }

        &.active {
            background-color: #e0f0ff;

            i {
                color: $primary-color;
            }
        }
    }

    .notification-dot {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }
    }

    &-end {
        margin-left: auto;
    }
}