@import '../../../App.scss';

.right-chat {
    position: fixed;
    top: 0;
    right: -290px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 290px;
    height: calc(100vh - 15px);
    overflow: hidden;
    background: 0 0;
    transition: all .25s ease;
    padding-top: calc(90px + 6px);
    padding-right: 15px;
    padding-left: 15px;

    a {
        text-decoration: none;
    }

    .list-group {
        .list-group-item {
            .badge {
                position: absolute;
                right: 0;
                top: 18px;
                display: inline-block;
                padding: .35em .65em;
                font-size: .75em;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 50%;
            }

            span {
                font-size: 12px !important;
                color: #999;
                margin-top: 3px;
            }

            .btn-round-xss {
                width: 8px;
                height: 8px;
                border-radius: 8px;
                display: inline-block;
                line-height: 25px !important;
                text-align: center;
            }
        }
    }
}

.active-sidebar {
    right: 0;
}

.right-scroll-bar {
    margin-left: 0;
    overflow-y: scroll;
}

.right-scroll-bar::-webkit-scrollbar {
    width: 8px;
}

.right-scroll-bar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px !important;
}

.right-scroll-bar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}